<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>squareBronzeFast.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>squareBronzeHeal.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>squareBronzePlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>squareBronzeShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,164},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>squareGoldFast.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>squareGoldHeal.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,164},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>squareGoldPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,327},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>squareGoldShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,327},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>squareSilverFast.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,327},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>squareSilverHeal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,490},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>squareSilverPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,490},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>squareSilverShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,490},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>achives.png</string>
        </dict>
    </dict>
</plist>
